/* Переменные */

:root {
    --bg: #ffffff;
    --text-color: #333333;
    --green: #06A9B3;
    --white: #ffffff;
    --orange: #FFB257;
    --l-gray: #CFDCE3;
    --ll-gray: #EAF2F6;
    --ll-gray: #F2F8FB;
}

/* Базовые стили */

html,
body {
    width: 144rem;
    max-width: 144rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--bg);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Сетки */

.container {
    max-width: calc(144rem - 3rem * 2);
    width: calc(144rem - 3rem * 2);
    margin: 0 auto;
}

/* Кнопки */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;

    cursor: pointer;
}

