/* Переменные */

:root {
    --bg: #ffffff;
    --text-color: #333333;
    --green: #06A9B3;
    --white: #ffffff;
    --orange: #FFB257;
    --l-gray: #CFDCE3;
    --ll-gray: #EAF2F6;
    --ll-gray: #F2F8FB;
}

/* Базовые стили */

html,
body {
    width: 144rem;
    max-width: 144rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--bg);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Сетки */

.container {
    max-width: calc(144rem - 3rem * 2);
    width: calc(144rem - 3rem * 2);
    margin: 0 auto;
}

/* Кнопки */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;

    cursor: pointer;
}

.button--colored {
    background-color: var(--green);
    padding: 1.6rem 3.2rem;

    color: var(--white);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
}

/* Хедер */

.header {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #F2F8FB;
}

.main__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.site-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.site-nav__item:not(:last-child) {
    margin-right: 6.4rem;
}

.site-nav__link {
    display: flex;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #06A9B3;
}

.logo {
    /* display: flex; */
    width: 9.7rem;
    height: 3rem;
}

.user-nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-self: end;
    column-gap: 6.4rem;
}

.auth {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2rem;
    align-self: center;
}

.auth a {
    color: #06A9B3;
}

/* Стили модуля */

.module {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.module__title {
    margin: 0;

    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    text-align: left;
}

.module__subheader {
    margin: 0;

    font-weight: 300;
    color: #06A9B3;
    font-size: 1.6rem;
    line-height: 2rem;
}

.module__subheader span {
    position: relative;
    padding-right: 9.7rem;
}

.module__subheader span::after {
    position: absolute;
    content: "";
    top: 0.9rem;
    right: 0.8rem;
    width: 8.1rem;
    height: 0.1rem;
    background-color: #06A9B3;
}

/* Промо */

/* Промо Инфо */

.promo {
    padding-top: 0;
    background-color: #F2F8FB;
}

.promo__description {
    max-width: 68rem;
    padding-top: 8rem;
}

.promo__subheader {
    margin: 0;
    margin-bottom: 0.8rem;

    font-size: 1.6rem;
    line-height: 2rem;
    opacity: 0.3;
}

.promo__header {
    margin-bottom: 1.2rem;

    font-size: 4.4rem;
    line-height: 6.2rem;
}

.promo__text {
    margin: 0;
    margin-bottom: 4rem;

    font-size: 2.2rem;
    line-height: 3.4rem;
}

.promo__link {
    display: inline-block;
}

.social {
    display: flex;
    align-items: center;
}

.social__item:not(:last-child) {
    margin-right: 7.3rem;
}

.promo .social {
    margin-top: 10rem;
}

/* Промо слайдер */

.promo__slider {

}

.slider {
    position: relative;
}

.slider__item {
    display: none;
}

.slider__item--active {
    display: block;
}

/* Статья */

.article__text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

.article__aside {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.article__quote {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 4rem;
}

.article__book-link {
    display: inline-block;
}

/* Каталог */

.catalog {
    padding-bottom: 14rem;
    background-color: #F2F8FB;
}

.catalog__subheader {
    margin-bottom: 6rem;
}

.catalog__title {
    margin-bottom: 4rem;
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.4rem;
    row-gap: 2.4rem;
}

/* Карточка дома */

.card {
    display: grid;
    grid-template-rows: 22rem 1fr;
    width: 32.7rem;
    max-width: 32.7rem;
    min-height: 41.4rem;

    background-color: var(--white);
    border: 0.1rem solid #CFDCE3;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 1.6rem 2.4rem 2.4rem;
}

.card__title {
    margin: 0;
    margin-bottom: 0.8rem;

    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3.4rem;
}

.card__area {
    margin: 0;

    font-size: 1.6rem;
    line-height: 2rem;
    opacity: 0.3;
}

.card__stats {
    grid-row: start 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;

    margin: 0;
    margin-top: 2rem;
    padding-top: 1.6rem;
    font-weight: 300;

    border-top: 0.2rem solid #EAF2F6;
}

.card__stats dt {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 2rem;
}

.card__stats dd {
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.catalog__card--wide {

}

/* Форма заявки */

.request {
    padding-top: 0;
    padding-bottom: 0;
}

/* Форма */

.request__form {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

/* Футер */

.footer {
    padding-top: 3rem;
    background-color: #F2F8FB;
    padding-bottom: 4rem;
}

.copyright {
    margin: 0;
    align-self: center;
    justify-self: end;

    font-size: 1.6rem;
    line-height: 2rem;
}

.copyright__text {
    opacity: 0.3;
}

.copyright__link {
    color: #06A9B3;
}
