/* Переменные */

:root {
    --bg: #ffffff;
    --text-color: #333333;
    --green: #06A9B3;
    --white: #ffffff;
    --orange: #FFB257;
    --l-gray: #CFDCE3;
    --ll-gray: #EAF2F6;
    --ll-gray: #F2F8FB;
}

/* Базовые стили */

html,
body {
    width: 144rem;
    max-width: 144rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--bg);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: cover;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Сетки */

.container {
    max-width: calc(144rem - 3rem * 2);
    width: calc(144rem - 3rem * 2);
    margin: 0 auto;
}

/* Кнопки */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;

    cursor: pointer;
}

.button--colored {
    background-color: var(--green);
    padding: 1.6rem 3.2rem;

    color: var(--white);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
}

/* Хедер */

.header {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: var(--ll-gray);
}

.main__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.site-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.site-nav__item:not(:last-child) {
    margin-right: 6.4rem;
}

.site-nav__link {
    display: flex;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--green);
}

.logo {
    justify-self: center;
    display: flex;
    width: 9.7rem;
    height: 3rem;
}

.user-nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-self: end;
    column-gap: 6.4rem;
}

.auth {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2rem;
    align-self: center;
}

.auth a {
    color: var(--green);
}

/* Стили модуля */

.module {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.module__title {
    margin: 0;

    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    text-align: left;
}

.module__subheader {
    margin: 0;
    margin-bottom: 6rem;

    font-weight: 300;
    color: var(--green);
    font-size: 1.6rem;
    line-height: 2rem;
}

.module__subheader span {
    position: relative;
    padding-right: 9.7rem;
}

.module__subheader span::after {
    position: absolute;
    content: "";
    top: 0.9rem;
    right: 0.8rem;
    width: 8.1rem;
    height: 0.1rem;
    background-color: var(--green);
}

/* Промо */

/* Промо Инфо */

.promo {
    padding-top: 0;
    background-color: var(--ll-gray);
}

.promo__description {
    max-width: 68rem;
    padding-top: 8rem;
}

.promo__subheader {
    margin: 0;
    margin-bottom: 0.8rem;

    font-size: 1.6rem;
    line-height: 2rem;
    opacity: 0.3;
}

.promo__header {
    margin-bottom: 1.2rem;

    font-size: 4.4rem;
    line-height: 6.2rem;
}

.promo__text {
    margin: 0;
    margin-bottom: 4rem;

    font-size: 2.2rem;
    line-height: 3.4rem;
}

.promo__link {
    display: inline-block;
}

.social {
    display: flex;
    align-items: center;
}

.social__item:not(:last-child) {
    margin-right: 7.3rem;
}

.promo .social {
    margin-top: 10rem;
}

/* Промо слайдер */

.promo__slider {

}

.slider {
    position: relative;
}

.slider__item {
    display: none;
}

.slider__item--active {
    display: block;
}

.slider__controls {
    display: grid;
    grid-template-columns: auto 1fr;
}

.controls__buttons {
    display: grid;
    grid-template-columns: auto auto;
    width: 21rem;
    height: 6.4rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    background-color: var(--white);
}

.slider__button--prev {
    border-right: 0.2rem solid var(--ll-gray);
}

.slider__button--prev svg {
    transform: rotateY(180deg);
}

.slider__button--inactive path {
    stroke: var(--ll-gray);
}

.slider__pager {
    justify-self: end;
    color: var(--white);
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4.8rem;  
}

/* Статья */

.article .container {
    max-width: 114.6rem;
    margin: 0 auto;
}

.article__content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 44.4rem 1fr;
    column-gap: 2.4rem;
    row-gap: 2.4rem;
}

.article__content > * {
    grid-column: 2;
}

.article__deco {
    position: absolute;
    grid-column: 1;
    display: flex;
    flex-direction: column-reverse;
    margin: 0;

    font-weight: 700;
    font-size: 6.4rem;
    line-height: 6.4rem;
    color: #EAF2F6;
}

.article__deco-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.article__deco-number {
    margin-bottom: 4rem;
}

.article__text {
    max-width: 44.4rem;
    margin: 0;

    font-weight: 300;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

.article__aside {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.article__figure {
    display: flex;
    margin: 0;
    padding: 0;
}

.article__quote {
    position: relative;
    grid-column: span 3;
    justify-self: center;
    max-width: 64.8rem;
    margin: 0;
    padding: 0;
    padding-left: 3rem;

    font-weight: 400;
    font-size: 2.2rem;
    line-height: 4rem;
}

.article__quote::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: var(--green);
}

.article__aside {
    max-width: 21rem;
}

.article__aside--right {
    grid-column: 3;
    justify-self: right;
}

.article__aside--left {
    grid-column: 1;
}

.article__figure--wide {
    grid-column: span 3;
}

.article__book-link {
    display: inline-block;
    max-width: 28.9rem;
}

/* Каталог */

.catalog {
    padding-bottom: 14rem;
    background-color: var(--ll-gray);
}

.catalog__title {
    margin-bottom: 4rem;
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.4rem;
    row-gap: 2.4rem;
}

/* Карточка дома */

.card {
    display: grid;
    grid-template-rows: 22rem 1fr;
    /* width: 32.7rem;
    max-width: 32.7rem; */
    min-height: 41.4rem;

    background-color: var(--white);
    border: 0.1rem solid var(--l-gray);
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 1.6rem 2.4rem 2.4rem;
}

.card__title {
    margin: 0;
    margin-bottom: 0.8rem;

    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3.4rem;
}

.card__area {
    margin: 0;

    font-size: 1.6rem;
    line-height: 2rem;
    opacity: 0.3;
}

.card__stats {
    grid-row: start 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;

    margin: 0;
    margin-top: 2rem;
    padding-top: 1.6rem;
    font-weight: 300;

    border-top: 0.2rem solid var(--ll-gray);
}

.card__stats dt {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 2rem;
}

.card__stats dd {
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.catalog__card--wide__wrap {
    grid-column: span 4;
}

/*
.catalog__card--wide {
    justify-self: center;
    grid-template-columns: 32.7rem auto;
    grid-template-rows: auto auto;
}
*/

.catalog__card--wide__wrap .card {
    width: 32.7rem
}

/* Форма заявки */

.request {
    padding-top: 0;
    padding-bottom: 0;
}

.request__content {
    display: grid;
    grid-template-columns: 1fr auto;
}

.request__img-wrap {
    display: flex;
}

/* Форма */

.request__form {
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-right: 14rem;
    padding-left: 11.5rem;
}

.request__subheader {
    margin-bottom: 6rem;
}

.request__title {
    margin-bottom: 2.4rem;
}

.form__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
    row-gap: 2rem;
    grid-template-areas:
        "appeal name surname"
        "email email email"
        "phone phone phone"
        "checkboxes checkboxes checkboxes"
        "submit submit .";
}

.appeal {
    grid-area: appeal;
    position: relative;
}

.name {
    grid-area: name;
}

.surname {
    grid-area: surname;
}

.email {
    grid-area: email;
}

.phone {
    grid-area: phone;
}

.checkboxes {
    grid-area: checkboxes;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.submit {
    grid-area: submit;
}

.form__group:not(.form__group--horizontal) {
    display: grid;
    grid-template-rows: auto auto;
}

.form__label {
    margin-bottom: 0.4rem;

    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.checkboxes .form__label {
    line-height: 1.6rem;
}

.form__input {
    width: 100%;
    height: 4.4rem;
    padding: 1.4rem 1.6rem 1.4rem;
    background: var(--white);

    color: inherit;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;

    border: 0.1rem solid var(--l-gray);
}

.form__select {
    padding: 1rem 1.8rem 1.2rem  1.6rem;
}

.form__select {
	-moz-appearance: none;
	-webkit-appearance: none;
}
.form__select::-ms-expand {
	display: none;
}

.appeal::after {
    position: absolute;
    content: "";
    top: 4.1rem;
    right: 0.5rem;
    width: 1rem;
    height: 1rem;
    background-image: url("../img/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

::placeholder { 
    color: rgb(51, 51, 51, 0.3);
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;
}

.form__group--horizontal {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1.2rem;
}

/* Футер */

.footer {
    padding-top: 3rem;
    background-color: var(--ll-gray);
    padding-bottom: 4rem;
}

.footer .logo {
    justify-self: left;
}

.copyright {
    margin: 0;
    align-self: center;
    justify-self: end;

    font-size: 1.6rem;
    line-height: 2rem;
}

.copyright__text {
    opacity: 0.3;
}

.copyright__link {
    color: var(--green);
}
