/* variables */
:root {
    --bg: #FCFBFA;
    --text-color: #1F1E1C;
    --nav-color: #000000;
}

/* base */

html,
body {
    width: 100%;
    min-width: 144rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: "Lora", "Palatino Linotype", serif;
    font-size: 10px;
    line-height: 150%;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--bg);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Сетки */

.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.container {
    min-width: 124rem;
    margin: 0 auto;
    padding-left: 10rem;
    padding-right: 10rem;
}

/* Header */

.header {
    border-bottom: 0.1rem solid rgba(31, 30, 28, 0.2);
}

.header__wrap {
    display: grid;
    grid-template-columns: 14.5rem 1fr;
    grid-template-rows: 1fr;
    column-gap: 5rem;

    padding-top: 3.1rem;
    padding-bottom: 3rem;
}

.logo {
    grid-column: 1 / 2; 
    display: flex;
    max-width: 14.4rem;
    flex-shrink: 0;
}

.main-nav {
    grid-column: -1 / span 1; 
}

.nav-list {
    display: flex;
    align-items: flex-end;
    justify-self: end;
    flex-wrap: wrap;
}

.nav-list__item {
    display: flex;
}

.nav-list__item:not(:first-child) {
    margin-left: 3rem;
}

.nav-list__link {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--nav-color);
}

/* Статья */

.article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px 50px;
}

/* Content */

.article__header {
    grid-column: 1 / -1;
    justify-self: center;

    max-width: 75%;
    margin-bottom: -2rem;
    padding-top: 7rem;
}

.article__title {
    margin: 0 auto;
    margin-bottom: 3rem;

    font-size: 4.6rem;
    line-height: 150%;
    text-align: center;
}

.article__info {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    justify-content: center;

    font-size: 1.8rem;
    line-height: 150%;
}

.article__author {
    margin: 0;
}

.article__photographer {
    margin: 0;
}

.article__poster {
    grid-column: span 3;
}

.article__poster img {
    display: block;
}

/* Модули */

.module {
    display: grid;
    grid-template-columns: repeat(3, 38rem);
    grid-column: 1 / -1;
    column-gap: 5rem;
}

.article__text {
    margin: 0;
    font-size: 1.8rem;
    line-height: 150%;
}

figure {
    margin: 0;
}

figcaption {
    margin-top: 3rem;
}


figcaption p {
    margin: 0;
    font-size: 1.6rem;
    line-height: 150%;
}

figcaption p:not(:last-child) {
    margin-bottom: 0.5rem;
}

.article_img--wide {
    grid-column: span 2;
}

.article_img--horizontal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.article_img--horizontal figcaption {
    margin-top: 0;
}

/* Footer */

.footer {
    margin-top: 5rem;
    border-top: 0.1rem solid rgba(31, 30, 28, 0.2);
}

.footer__wrap {
    display: grid;
    grid-template-columns: 14.5rem 1fr;
    column-gap: 5rem;
    align-items: center;

    padding-top: 3.1rem;
    padding-bottom: 3.1rem;
}

.copyright {
    justify-self: end;
    margin: 0;

    font-size: 1.4rem;
    align-self: end;
}
