/* Переменные */

:root {
    --bg: #F2F1F0;
    --text-color: #40393B;
    --brown: #59313B;
    --light: #FAFAFA;
    --gray: #DED9D5;
}

/* Базовые стили */

html,
body {
    width: 100%;
    min-width: 144rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    line-height: 23px;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--bg);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Кнопки */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    border: none;
    cursor: pointer;
}

.button--colored {
    padding: 1.1rem 5.5rem 1.3rem;
    background-color: var(--brown);

    font-family: 'Source Sans Pro';
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--light);
}

.button--bordered {
    padding: 2.4rem;

    font-family: 'Source Sans Pro';
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--text-color);

    background-color: transparent;
    border: 0.1rem solid var(--text-color);
}

/* Сетки */

.catalog {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: calc(144rem - 10rem * 2);
    width: calc(144rem - 10rem * 2);
    margin: 0 auto;
}

/* Хедер */

.header {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.header__wrap {
    display: grid;
    grid-template-columns: 1fr 38rem;
    column-gap: 1rem;
}

.logo {
    display: flex;
    width: 17.7rem;
    height: 1.7rem;
}

.site-nav .logo {
    margin-right: 10rem;
}

.site-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-list__item {
    display: flex;
}

.nav-list__item:not(:last-child) {
    margin-right: 3.5rem;
}

.nav-list__link {
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--text-color);
}

.header__group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contacts {
    display: flex;
}

.phone {
    font-family: 'Source Sans Pro';
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--text-color);
}

.user-nav {
    display: flex;
    margin-left: 5.6rem;
}

.cart {
    width: 2.4rem;
    height: 2.4rem;
}

/* Промо-блок */

.hero {
    display: flex;
    min-height: 35rem;
    background-image: url("../img/back.jpeg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    padding: 13.6rem 11rem;
}

.hero__title {
    margin: 0;
    font-family: 'Merriweather';
    font-weight: 300;
    font-size: 6.2rem;
    line-height: 7.8rem;
    color: var(--brown);
}

/* Фильтры */

.filter {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.filter__form {
    display: grid;
    grid-template-columns: repeat(3, 38rem);
    column-gap: 5rem;
}

.form__group {
    position: relative;
}

.form__input {
    width: 38rem;
    height: 5.9rem;
    background-color: transparent;
    padding-top: 1.6rem;
    padding-right: 1.8rem;
    padding-bottom: 1.8rem;
    padding-left: 1.8rem;

    border: 0.1rem solid var(--text-color);

    font-family: 'Source Sans Pro';
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--text-color);
}

.form__input--select {
    padding-right: 5rem;

    /* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
}

.form__input--select::-ms-expand {
	/* IE */
	display: none;
}

.form__group::after {
    position: absolute;
    content: "";
    top: 2.5rem;
    right: 2.5rem;
    background-image: url("../img/icons/down.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 1.7rem;
    height: 1rem;
}

/* Список карточек */

.products__list {
    display: grid;
    grid-template-columns: repeat(3, 38rem);
    column-gap: 5rem;
    row-gap: 5rem;
}

/* Карточка */

.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem;
    background-color: var(--light);
}

.product__title {
    margin: 0;
    margin-bottom: 0.5rem;

    font-family: 'Merriweather';
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: var(--text-color);
}

.product__img-wrap {
    display: flex;
    order: -1;
    max-width: 32rem;
    height: 27rem;

    margin-bottom: 1.5rem;
}

.product__img {
    width: 32rem;
    height: auto;
}

.product__price {
    margin: 0;

    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--text-color);
}

.more {
    display: grid;
    justify-content: center;
}

.product__buy-button-wrap {
    margin-top: 2rem;
}

/* Кнопка "Больше" */

.products__more {
    margin-top: 7rem;
}

.more__link {
    min-width: 38rem;
}

/* Футер */

.footer {
    margin-top: 8rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: var(--gray);
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Иконки соцсетей */

.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social__item {
    display: flex;
}

.social__item:not(:first-child) {
    margin-left: 2.5rem;
}

.social__link {
    width: 2rem;
    height: 2rem;
}