/* Переменные */

:root {
    --bg: #F2F1F0;
    --text-color: #40393B;
    --brown: #59313B; /* кнопки */
    --light: #FAFAFA;
    --gray: #DED9D5; /* footer */
}

/* Базовые стили */

html,
body {
    width: 100%;
    min-width: 144rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    line-height: 23px;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--bg);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Сетки */

.catalog {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: calc(144rem - 10rem * 2);
    width: calc(144rem - 10rem * 2);
    margin: 0 auto;
}

/* Хедер */

.header__wrap {

}

.logo {
    display: flex;
}

/* Фильтры */

/* Список карточек */

/* Футер */

.footer {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: var(--gray);
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list__item {
    display: flex;
}

.nav-list__item:not(:last-child) {
    margin-right: 3.5rem;
}

.nav-list__link {
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #40393B;
}

/* Иконки соцсетей */

.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social__item {
    display: flex;
}

.social__item:not(:first-child) {
    margin-left: 2.5rem;
}

.social__link {
    width: 2rem;
    height: 2rem;
}