/* Переменные */

:root {
    --bg: #EEE9E6;
    --text-color: #695A59;
    --white: #ffffff;
    --text-bg: #EAE1DC;
    --dark-gray: #343235;
    --text-light: #FBF3F0;
}

/* Базовые стили */

html,
body {
    width: 136.6rem;
    max-width: 136.6rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 32px;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--bg);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: cover;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Сетки */

.container {
    width: 116.6rem;
    margin: 0 auto;
}

/* Кнопки */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;

    cursor: pointer;
}

.button--bordered {
    display: inline-block;
    padding-top: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 1.4rem;
    padding-left: 1.8rem;

    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #A78587;
    text-transform: uppercase;

    border-top: 1px solid #A78587;
    border-bottom: 1px solid #A78587;
}

.button--arrow {
    display: inline-block;
    padding: 0.4rem 0;
    color: #9A8584;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-transform: uppercase;
}

.button--arrow svg {
    margin-left: 1.6rem;
}

/* Стили модуля */

.module {
    position: relative;
}

.module__title {
    position: relative;
    margin: 0;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 4.2rem;
    line-height: 5.4rem;
    text-transform: uppercase;

    z-index: 1;
}

.module__title--light {
    color: #EEE9E6;
}

.module__title.module__title--withtext::before {
    position: absolute;
    top: 0;
    left: 0;

    color: #EAE1DC;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 11rem;
    text-transform: uppercase;

    z-index: -1;
}

.module__text {
    margin: 0;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.module__text--light {
    color: #FBF3F0;
}

.module__text--grey {
    color: #EEE9E6;
    opacity: 0.6;
}

/* Хедер */

.header__content {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    color: #695A59;
}

.main__nav {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 21.8rem;
}

.logo {
    display: grid;
    grid-template-columns: 14.1rem auto;
    column-gap: 1.2rem;
    align-items: center;
}

.logo__img {
    display: flex;
    width: 14.1rem;
    height: 5.2rem;
}

.logo__text {
    max-width: 22.2rem;
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
}

.header__wrap {
    display: grid;
    grid-template-columns: auto auto 3.6rem;
    column-gap: 2.4rem;
    align-items: center;
}

.phone {
    display: grid;
    grid-template-columns: 1.8rem auto;
    column-gap: 1rem;

    max-width: 17.4rem;
    margin: 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.phone__icon {
    grid-row: span 2;

    position: relative;
    top: 5px;
    
    width: 1.8rem;
    height: 1.8rem;
}

.phone a {
    color: inherit;
}

.phone__modal {
    text-decoration: underline;
}

.address {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.2rem;

    max-width: 27.2rem;
    margin: 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.address__icon {
    position: relative;
    top: 5px;
}

.address a {
    color: inherit;
}

.header__menu-button {
    width: 3.6rem;
    height: 3.2rem;
    margin-left: 4.3rem;
}

/* Промо-блок */

.promo {
    background-image: url("../img/promo-bg.jpeg");
    background-repeat: no-repeat;
    background-position: 50% top;
}

.promo .container {
    width: 136.6rem;
}

.promo__content {
    display: grid;
    grid-template-columns: 47.4rem 57.3rem;
    column-gap: 2rem;

    padding-top: 8rem;
    padding-right: 10rem;
    padding-bottom: 8rem;
    padding-left: 19.9rem;
}

.promo__info {
    max-width: 45.5rem;
}

.promo__title {
    margin-bottom: 1.6rem;
}

.promo__link {
    margin-top: 3.6em;
}

.promo__img-wrap {
    display: flex;
}

/* О компании */

.about__content {
    padding-bottom: 12rem;
}

.about__title {
    margin-bottom: 5rem;
}

.module__title.about__title::before {
    content: "About us";
}

.about__aside figure {
    margin: 0;
    padding: 0;
}

.about__aside img {
    width: 27.6rem;
    height: auto;
}

.about__aside figcaption {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.about__aside figcaption a {
    text-decoration: underline;
    color: inherit;
}

.about__quote {
    background-image: url("../img/bg-1.jpeg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0;
    padding: 8rem 9.9rem;

    font-weight: 500;
    font-size: 2.6rem;
    line-height: 4.8rem;
    color: var(--white);
}

.about__image {
    margin: 0;
    padding: 0;
}

.about__image a {
    color: inherit;
    text-decoration: underline;
}

/* Продукты */

.products {
    padding-bottom: 12rem;
}

.products__title {
    margin-bottom: 4.4rem;
}

.module__title--withtext.products__title::before {
    content: "The best";
}

.products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    display: grid;
    grid-template-rows: 24rem auto;
    width: 37.5rem;
    background-color: var(--white);
}

.card__content {
    padding: 3.6rem;
}

.card__title {
    margin: 0;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.card__price {
    margin: 0;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: #343235;
}

.card__note {
    display: inline-block;
    margin: 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    opacity: 0.6;
}

/* Проекты */

.projects {
    padding-bottom: 12rem;
}

.projects__title {
    max-width: 44.8rem;
    margin-bottom: 4.4rem;
    padding-left: 10rem;
}

.module__title--withtext.projects__title::before {
    content: "Projects";
}

.slider {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
}

.slide {
    display: none;
    margin-bottom: -100px;
}

.slide--active {
    display: grid;
    grid-template-rows: 1fr auto;
}

.slide__description {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    position: relative;
    top: -100px;

    padding: 3.2rem 3.6rem;
    background-color: rgba(52, 50, 53, 0.9);
}

.slide__title {
    margin: 0;

    color: #F5F2ED;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.slide__link {
    justify-self: end;
    color: #F5F2ED;
}

.slider__control {
    align-self: center;
    width: 7.2rem;
    height: 7.2rem;
    background-color: #343235;
    border-radius: 5rem;
}

.slider__control--prev {
    justify-self: start;
    transform: rotate(180deg);
}

.slider__control--next {
    justify-self: end;
}

/* Миссия */

.mission {
    padding-top: 12rem;
    padding-bottom: 12rem;
    background-color: #343235;
}

.module__title--withtext.mission__title::before {
    content: "Mission";
    color: rgba(154, 133, 132, 0.1);
}

/* Команда */

.team {
    padding-bottom: 12rem;
    background-color: #343235;
}

.team__title {
    /* max-width: 57.3rem; */
    margin-bottom: 4.6rem;
}

.module__title--withtext.team__title::before {
    content: "Our team";
    color: rgba(154, 133, 132, 0.1);
}

.team__description {
    margin-bottom: 4rem;
}

.team__aside {
    margin: 0;
    color: #FBF3F0;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.team__img {
    display: flex;
    margin: 0;
}

/* Метеморфозы */

.collections {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.collections__title {
    margin-bottom: 5.4rem;
}

.module__title--withtext.collections__title::before {
    content: "Collecttions";
}

.collections__text {
    margin: 0;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.collection__item {
    display: flex;
}

/* Заявка */

.request {
    background: rgba(52, 50, 53, 0.9);
    background-image: url("../img/promo-bg.jpeg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.request__content {
    display: grid;
    grid-template-columns: 1fr 47.4rem;
    column-gap: 12rem;
    padding-left: 10rem;
}

.module__title--withtext.request__title::before {
    content: "Talk";
    color: rgba(154, 133, 132, 0.1);
}

.request__form {
    padding-top: 9.2rem;
    padding-bottom: 8rem;
}

.request .form__button {
    width: 100%;
}
